{
  "reporter": [
    "lcov",
    "text-summary",
    "json-summary",
    "html"
  ],
  "cache": true,
  "sourceMap": false,
  "instrument": false,
  "report-dir": "./test-results/",
  "include": [ "**/src/**/*.js" ]
}
